ENVIRONMENT = development
LOG_LEVEL = "panic"
PORT = ":8999"
PORT_APP = "8999"

CHROME_DRIVER_PATH = ./files/chromedriver
CHROME_DRIVER_PORT = 4444
SMART_PROXY_FILE = ./files/proxy_ip_list.txt

# MONGODB_PORT = 27017
# MONGODB_HOST = localhost
MONGODB_HOST = mongodb
MONGODB_PORT = 27017
MONGODB_HOST_LOCAL = localhost
MONGODB_PORT_LOCAL = 27017
MONGODB_URI = mongodb://$MONGODB_HOST_LOCAL:$MONGODB_PORT/
MONGODB_USER = datadb_user
MONGODB_PASS = password
MONGODB_NAME = datadb_name

MONGO_EXPRESS_PORT = 8081
MONGO_EXPRESS_PORT_LOCAL = 8084